@use "../../assets/scss/foundation/_breakpoints.scss" as breakpoint;
@use "../../assets/scss/foundation/_colors.scss" as colors;
@use "../../assets/scss/print/_colors.scss" as printColors;

.profile {
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    background: colors.$skillsBg;
  }
  &::-webkit-scrollbar-thumb {
    background: colors.$skillsColor;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: colors.$profileColor;
    width: 5px;
  }

  background: colors.$profileBg;
  width: 40%;
  float: left;
  color: colors.$profileColor;
  @include breakpoint.breakpoint(tablet) {
    width: 100%;
  }
  .name-wrapper {
    float: left;
    width: 60%;
  }
  h1 {
    font-size: 2.5em;
    text-align: left;
    font-family: "Varela Round", sans-serif;
    text-transform: uppercase;
    line-height: 1em;
    @include breakpoint.breakpoint(upDesktop) {
      padding-top: 40px;
    }
    @include breakpoint.breakpoint(mobile) {
      font-size: 1.8em;
    }
    @media print {
      color: printColors.$black;
      margin-top: 14pt;
      margin-bottom: 14pt;
      font-size: 22pt;
    }
  }
  li {
    margin-bottom: 10px;
  }
  .picture-resume-wrapper {
    width: 40%;
    display: block;
    float: left;
    @include breakpoint.breakpoint(laptop) {
      width: 100%;
    }
    @media print {
      width: 75pt;
    }
    .picture-resume {
      width: 220px;
      height: 220px;
      background-size: cover;
      border-radius: 50%;
      margin-right: 0px;
      display: table;
      position: relative;
      vertical-align: middle;
      span {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        margin: 0 auto;
        z-index: 10;
        text-align: center;
      }
      img {
        border-radius: 50%;
        width: 180px;
        @include breakpoint.breakpoint(desktop) {
          width: 80px;
        }
        @include breakpoint.breakpoint(laptop) {
          width: 120px;
          height: 120px;
        }
      }
      @include breakpoint.breakpoint(desktop) {
        width: 150px;
        height: 150px;
      }
      @include breakpoint.breakpoint(laptop) {
        width: 130px;
        height: 130px;
      }
      @include breakpoint.breakpoint(mobile) {
        width: 130px;
        height: 130px;
      }
      @media print {
        width: 95px;
        height: 95px;
      }
    }
  }
  .contact-info {
    font-weight: 300;
    @include breakpoint.breakpoint(laptop) {
      margin-top: 30px;
    }
    @include breakpoint.breakpoint(mobile) {
      margin-top: 10px;
    }
  }
  .list-titles {
    float: left;
    text-align: left;
    font-weight: 600;
    width: 40%;
    @media print {
      color: printColors.$black;
      margin-top: 0;
    }
  }
  .list-content {
    float: left;
    width: 60%;
    text-align: left;
    font-weight: 300;

    @media print {
      .contact {
        display: table;
        width: 238pt;
        a {
          float: left;
        }
        span {
          float: right;
        }
      }
    }

    @media print {
      margin-bottom: 0;
      width: 100%;
    }
  }
  .contact-presentation {
    text-align: left;
    font-weight: 300;
    @include breakpoint.breakpoint(laptop) {
      margin-top: 50px;
      margin-bottom: 70px;
    }
    @include breakpoint.breakpoint(tablet) {
      margin-top: 20px;
      margin-bottom: 50px;
    }
    @media screen {
      margin-top: 10px;
    }
    @media print {
      p {
        margin-bottom: 0;
      }
    }
  }

  @media screen {
    &.fixed {
      position: fixed;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  @media print {
    background: printColors.$white;
    color: printColors.$black;
  }
}
