@use "../../assets/scss/foundation/_breakpoints.scss" as breakpoint;
@use "../../assets/scss/foundation/_colors.scss" as colors;

.section-wrapper {
  .skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include breakpoint.breakpoint(upLaptop) {
      display: inline-flex;
      width: 50%;
    }
    &.left-skills {
      @include breakpoint.breakpoint(upLaptop) {
        padding-right: 10px;
      }
    }
    &.right-skills {
      @include breakpoint.breakpoint(upLaptop) {
        padding-left: 10px;
      }
    }
  }
  .skill-percentage {
    margin-bottom: 10px;
    position: relative;
    display: flex;
    align-items: center;
    text-wrap: nowrap;

    progress {
      width: 100%;
      height: 6px;
      margin-top: 3px;
      margin-left: 10px;
      &[value] {
        background: colors.$boldColor;
      }
      &::-webkit-progress-value {
        background: colors.$linkColor;
      }
    }
  }
}
