@use "../../assets/scss/foundation/_breakpoints.scss" as breakpoint;
@use "../../assets/scss/foundation/_colors.scss" as colors;
@use "../../assets/scss/print/_colors.scss" as printColors;

.experience {
  @media print {
    h3.section-title {
      margin-bottom: 0;
    }
  }
  .experience-wrapper {
    .company-wrapper {
      width: 30%;
      float: left;
      text-align: left;
      padding-right: 5%;
      margin-bottom: 60px;
      @include breakpoint.breakpoint(mobile) {
        width: 100%;
        margin-bottom: 20px;
      }
      @media print {
        float: none;
        margin-bottom: 0;
        display: inline-flex;
        width: 130pt;
        align-items: center;
        .time {
          margin-top: 0;
        }
      }
    }
    .job-wrapper {
      width: 70%;
      float: left;
      text-align: left;
      margin-bottom: 60px;
      .experience-title {
        text-wrap: balance;
      }
      @include breakpoint.breakpoint(mobile) {
        width: 100%;
        margin-bottom: 40px;
      }
      @media print {
        margin-bottom: 0;
        width: 172pt;
      }
    }
    @media print {
      display: flex;
      padding: 5pt 10pt;
      justify-content: space-between;
      &:nth-child(odd) {
        background-color: rgba($color: colors.$profileBg, $alpha: 0.08);
      }
    }
  }
  @media print {
    padding-left: 20pt;
    page-break-after: avoid;
  }
}
