@use "../../assets/scss/foundation/_breakpoints.scss" as breakpoint;
@use "../../assets/scss/foundation/_colors.scss" as colors;

.experience {
  .company-wrapper {
    width: 30%;
    float: left;
    text-align: left;
    padding-right: 5%;
    margin-bottom: 60px;
    @include breakpoint.breakpoint(mobile) {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .job-wrapper {
    width: 70%;
    float: left;
    text-align: left;
    padding-right: 5%;
    margin-bottom: 60px;
    @include breakpoint.breakpoint(mobile) {
      width: 100%;
      margin-bottom: 40px;
    }
  }
  .experience-title {
    color: white;
    margin-bottom: 15px;
  }
}
