@use "./assets/scss/foundation/_breakpoints.scss" as breakpoint;
@use "./assets/scss/foundation/_colors.scss" as colors;
@use "./assets/scss/print/_colors.scss" as printColors;
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

*,
*::after,
*::before {
  box-sizing: border-box;
}

::selection {
  color: colors.$profileBg;
  background: colors.$linkColor;
}

html,
body {
  height: 100%;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  @media print {
    width: 210mm;
    height: 297mm;
    padding: 5mm 5mm 0;
    font-size: 12pt;
    line-height: 1.3;
  }
}
a {
  color: colors.$linkColor;
  text-decoration: none;
  @media print {
    color: printColors.$black;
    page-break-inside: avoid;
  }
}
.clearfix::after,
.clearfix::before {
  content: " ";
  display: table;
}
ul {
  list-style: none;
  padding: 0;
}
.clearfix::after {
  clear: both;
}
.bold {
  font-weight: 600;
}
.resume-wrapper {
  background-color: colors.$skillsBg;
  position: relative;
  text-align: center;
  height: 100%;
  @media print {
    background-color: printColors.$white;
    page-break-inside: avoid;
  }
}
.container {
  min-height: 600px;
}
.experience {
  background: colors.$skillsBg;
  width: 60%;
  float: right;
  position: relative;
  color: colors.$skillsColor;
  font-weight: 300;
  @include breakpoint.breakpoint(tablet) {
    width: 100%;
  }
  @media print {
    background-color: printColors.$white;
    color: printColors.$black;
  }
}

.section-padding {
  padding: 40px 40px;
  @include breakpoint.breakpoint(tablet) {
    padding: 20px 10% 40px 10%;
  }
  @include breakpoint.breakpoint(mobile) {
    padding: 40px 5% 20px 5%;
  }
  @media print {
    padding: 0;
  }
}

.section-wrapper {
  text-align: left;
  color: colors.$skillsColor;
  font-weight: 300;
  margin-bottom: 20px;
  @include breakpoint.breakpoint(mobile) {
    width: 100%;
  }
  @media print {
    color: printColors.$black;
    margin-bottom: 0;
  }

  h3.section-title {
    color: colors.$linkColor;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 400;
    padding-bottom: 5px;
    border-bottom: 1pt solid;
    &::before {
      content: " ";
      padding-bottom: 5px;
      border-left: 20px solid;
      margin-right: 10px;
    }
    @media print {
      color: colors.$linkColor;
    }
  }
}
